# Environment
.env

# Editor/IDE
*.sw*
.vscode

# macOS
.DS_Store
._*

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
*.manifest
*.spec
.installed.cfg

# Virtual environments
.venv
venv/
ENV/
.python-version

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache

# Jupyter
.ipynb_checkpoints

# Data (ETL)
data/

# Yarn using Zero-Installs

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
